@font-face {
    font-family: 'allerregular';
    src: url('sauceseeker06.github.io/aller_rg-webfont.woff2') format('woff2'),
         url('sauceseeker06.github.io/aller_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'halogenregular';
    src: url('sauceseeker06.github.io/halogen-webfont.woff2') format('woff2'),
         url('sauceseeker06.github.io/halogen-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'damagrafik_scriptregular';
    src: url('sauceseeker06.github.io/y3-webfont.woff2') format('woff2'),
         url('sauceseeker06.github.io/y3-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}